/*:::::::Global:::::::*/
body{
  margin: 0;
}
#posRelative{
  position: relative;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  /*background-position: 50% 50%;*/
  z-index: 0;
}
.marginL {
	margin-top: 10px;
	margin-left: 20px;
	color: black;
}
.black{
	color: #333333;
}
.montsFnt{
	font-family: 'Montserrat', sans-serif;
}
/*::::::Global_End::::::*/


/*:::::::Header::::::*/
#pLogo{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-top: 20px;
}

#menu {
	margin-top: 20px;
}

#greeting{
	font-size: 5em;
	margin: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;

}
/*:::::::Header_End::::::*/


/*:::::::About_Section:::::::::*/
#aboutSection {
	height: 200px;
	position: relative;
}

#aboutParagraph {
	padding: 20px;
}
/*:::::::About_Section_End:::::::::*/

/*:::::::Project_Section:::::::::*/
#projectsSection {
	position: relative;
}

/*:::::::Project_Section_End:::::::::*/


/*:::::::Skills_Section:::::::::*/
#skillsSection {
	position: relative;
}
/*:::::::Skills_Section_End:::::::::*/

/*:::::::Contact_Section:::::::::*/
#contactSection {
	position: relative;
}
/*:::::::Contact_Section_End:::::::::*/