/*:::::::Global:::::::*/
html, body{
  margin: 0;
  padding: 0;
  background-color: #181B1E;
}

* {
	font-family: 'Play', sans-serif;
}
.wrapper {
	overflow-x: hidden;
}
#posRelative{
  position: relative;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 1800px;
  background-color: #181B1E;
  background-repeat: no-repeat;
  /*background-position: 50% 50%;*/
  z-index: 0;
}
.particles {
  height: 300px;
  position:relative;
  background-color: none;
  border-radius: 5px;
  margin-bottom: 350px; 
  width: 100%;
  height: 100%;
}
#particleHeading {
 margin-left: 20px;
}

.section {
  height: 300px;
  position:relative;
  background-color: none;
  border-radius: 5px;
  margin-bottom: 40px; 
  width: 100%;
  height: 100%;
}
.card {
	margin-left: 5px;
	margin-left: 10px;
	border: none;
	border-left: 10px solid #033F63;
	background-color: rgba(58, 80, 107, 0.2)!important;
}
.card-header {
    background-color: none;
	color: #033F63;
	font-weight: bold;
}

.card-title {
	font-size: 1em;
	color: #033F63;
}

.card-text {
	color: #B4B8BA;
}

a {
	color: #89AEB5;
	text-decoration: underline;
}

/*::::::Global_End::::::*/


/*:::::::Header::::::*/
#pLogo{
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-top: 20px;
}

#menu {
	margin-top: 25px;
}

.menuItm {
	font-size: 1em;
	font-weight: 700;
	color: #033F63;
}
.profileSec {
  height: 300px;
  position:relative;
  background-color: none;
  margin-bottom: 20px; 
  width: 100%;
  height: 100%;
}
#profilePic {
	border-radius: 100%;
	height: 120px;
	width: 120px;
	margin-right: 50px;
	display: block;
	margin: auto;
	margin-top: 80px;
}

#greeting{
	margin-top: 100px;
	height: 100px;
	font-size: 5em;
	font-weight: 900;
	margin-bottom: 120px;
	text-align: center;
	color: #033F63;

}
/*:::::::Header_End::::::*/


/*:::::::About_Section:::::::::*/
#aboutSec {

}
/*:::::::About_Section_End:::::::::*/

/*:::::::Project_Section:::::::::*/
#projectsSec {
	
}
/*:::::::Project_Section_End:::::::::*/


/*:::::::Skills_Section:::::::::*/
#skillsSec {
	
}

/*:::::::Skills_Section_End:::::::::*/

/*:::::::Contact_Section:::::::::*/
#contactSec {
	
}

/*:::::::Contact_Section_End:::::::::*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
#greeting{
	margin-top: 10px;
	font-size: 3em;
	margin-bottom: 100px;
}

#profilePic {
	margin-top: 50px;
}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {
#greeting{
	margin-top: 20px;
	margin-bottom: 70px;
	text-align: left;
	font-size: 3em;
}
#menu {
	margin-top: 30px;
}

#profilePic {
	display: inline;
}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {

}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) {

}

/*Extra large devices (large desktops)*/
/*No media query since the extra-large breakpoint has no upper bound on its width*/
